@media screen and (max-width: 768px) and (min-width: 320px) {
  .header {
    width: 768px;
    height: 700px;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: url(../img/Backgroundtable.png);
    background-position-x: 0px;
    background-position-y: 0px;
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
  }
  .logo {
    position: absolute;
    width: 152px;
    height: 24px;
    left: 48px;
    top: 46px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    color: #FFFFFF;
  }
  .log-in {
    position: absolute;
    width: 44px;
    height: 17px;
    left: 565px;
    top: 50px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    color: #FFFFFF;
  }
  .sign-in {
    position: absolute;
    width: 90px;
    height: 36px;
    left: 628px;
    top: 40px;
    border: 2px solid #FFFFFF;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 40px;
  }
  .sign-in > a {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    position: relative;
    top: 9px;
    left: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    color: #FFFFFF;
  }
  .big-text {
    position: absolute;
    width: 470px;
    height: 126px;
    left: 149px;
    top: 223.5px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 52px;
    line-height: 63px;
    text-align: center;
    color: #FFFFFF;
  }
  .small-text {
    position: absolute;
    width: 396px;
    height: 25px;
    left: 186px;
    top: 378px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 24px;
    /* identical to box height, or 102% */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    text-align: center;
    color: #F7F3F2;
  }
  .header__button {
    position: absolute;
    width: 225px;
    height: 40px;
    left: 272px;
    top: 436px;
    background: #FF4E50;
    border-radius: 40px;
  }
  .button_text {
    position: absolute;
    left: 19.5px;
    top: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
  }
  .bl-1 {
    width: 768px;
  }
  .how-work {
    position: absolute;
    width: 748px;
    height: 476px;
    left: 10px;
    top: 780px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .how-work_text {
    position: absolute;
    width: 289px;
    height: 27px;
    left: 230px;
    top: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    /* identical to box height */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    text-align: center;
    color: #444444;
  }
  .step-img1 {
    width: 236px;
    height: 400px;
    background-image: url(../img/Step1table.png);
  }
  .step-img2 {
    width: 236px;
    height: 400px;
    background-image: url(../img/Step2table.png);
  }
  .step-img3 {
    width: 236px;
    height: 400px;
    background-image: url(../img/Step3table.png);
  }
  .step_buttom1 {
    position: absolute;
    width: 70px;
    height: 20px;
    left: 21px;
    top: 281px;
    background: #FF4E50;
    border-radius: 40px;
  }
  .step_buttom1_text {
    position: absolute;
    width: 47px;
    height: 12px;
    left: 13px;
    top: 6px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 2px;
    color: #FFFFFF;
  }
  .step1_big-text {
    position: absolute;
    width: 196px;
    height: 58px;
    left: 20px;
    top: 347px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 14px;
    color: #FFFFFF;
  }
  .step1_small-text {
    position: absolute;
    width: 196px;
    height: 76px;
    left: 20px;
    top: 405px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    color: #E3E3E3;
  }
  .step_buttom2 {
    position: absolute;
    width: 70px;
    height: 20px;
    left: 277px;
    top: 331px;
    background: #FF4E50;
    border-radius: 40px;
  }
  .step_buttom2_text {
    position: absolute;
    width: 46px;
    height: 12px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 2px;
    left: 11px;
    top: 6px;
    color: #FFFFFF;
  }
  .step2_big-text {
    position: absolute;
    width: 199px;
    height: 35px;
    left: 276px;
    top: 367px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 14px;
    color: #FFFFFF;
  }
  .step2_small-text {
    position: absolute;
    width: 196px;
    height: 57px;
    left: 276px;
    top: 419px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    color: #E3E3E3;
  }
  .step_buttom3 {
    position: absolute;
    width: 70px;
    height: 20px;
    right: 146px;
    top: 281px;
    background: #FF4E50;
    border-radius: 40px;
  }
  .step_buttom3_text {
    position: absolute;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 2px;
    left: 12px;
    top: 5px;
    color: #ffffff;
  }
  .step3_big-text {
    position: absolute;
    width: 196px;
    height: 58px;
    right: 20px;
    top: 347px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 14px;
    color: #FFFFFF;
  }
  .step3_small-text {
    position: absolute;
    width: 196px;
    height: 76px;
    right: 20px;
    top: 405px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    color: #E3E3E3;
  }
  .partners {
    position: absolute;
    width: 492px;
    height: 605px;
    left: 145px;
    top: 1345px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
  .meet-text {
    position: absolute;
    width: 416px;
    height: 27px;
    left: 32px;
    top: 5px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
  }
  .person-1 {
    position: absolute;
    top: 67px;
    left: -32px;
    width: 285px;
    height: 216px;
  }
  .person-2 {
    position: absolute;
    top: 327px;
    left: -32px;
    width: 285px;
    height: 222px;
  }
  .person-3 {
    position: absolute;
    top: 67px;
    left: 224px;
    width: 285px;
    height: 241px;
  }
  .person-4 {
    position: absolute;
    top: 326px;
    left: 224px;
    width: 285px;
    height: 244px;
  }
  .person-img {
    width: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
    height: 120px;
  }
  .icon-1 {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 170px;
    top: 88px;
    border-radius: 50%;
    background: #FF4E50;
  }
  .icon-2 {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 170px;
    top: 86px;
    border-radius: 50%;
    background: #19D4CA;
  }
  .icon-3 {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 170px;
    top: 86px;
    border-radius: 50%;
    background: #FFA710;
  }
  .icon-4 {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 172px;
    top: 87px;
    border-radius: 50%;
    background: #667DF3;
  }
  .icon {
    width: 17px;
    height: 16px;
    position: relative;
    top: 9px;
    left: 8px;
  }
  .person-name, .person-name2, .person-name3, .person-name4 {
    margin: 0 auto;
    width: 221px;
    height: 18px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    margin-top: 19px;
    text-align: center;
  }
  .person-text {
    position: absolute;
    width: 236px;
    height: 38px;
    left: 25px;
    top: 178px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    color: #666666;
    text-align: center;
  }
  .person-text2 {
    position: absolute;
    width: 221px;
    height: 57px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    color: #666666;
    margin-top: 27px;
    margin-left: -1px;
  }
  .person-text3 {
    position: absolute;
    width: 231px;
    height: 57px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    color: #666666;
    margin-top: 27px;
    left: 27px;
  }
  .person-text4 {
    position: absolute;
    width: 233px;
    height: 57px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    color: #666666;
    top: 178px;
    left: 27px;
  }
  .partner-button {
    position: absolute;
    width: 180px;
    height: 40px;
    left: 296px;
    top: 1917px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #FF4E50;
    background: #FFFFFF;
    border: 2px solid #FF4E50;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 40px;
  }
  .bl-2 {
    position: absolute;
    top: 2050px;
    left: 10px;
    width: 749px;
    height: 1031px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .bl-2_text {
    width: 940px;
    height: 42px;
  }
  .bl-2-text {
    position: absolute;
    left: 199px;
    top: 0px;
    position: absolute;
    width: 350px;
    height: 27px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    text-align: center;
    color: #444444;
  }
  .bl-2-img1 {
    width: 236px;
    height: 310px;
    background-image: url(../img/Sport2.png);
  }
  .bl-2-img2 {
    width: 236px;
    height: 310px;
    background-image: url(../img/Healath2.png);
    position: absolute;
    left: 256px;
  }
  .bl-2-img3 {
    width: 236px;
    height: 310px;
    background-image: url(../img/Extreme3.png);
    position: absolute;
    left: 512px;
  }
  .bl-2-img4 {
    width: 236px;
    height: 310px;
    position: absolute;
    background-image: url(../img/Games3.png);
  }
  .bl-2-img5 {
    width: 492px;
    height: 310px;
    position: absolute;
    left: 256px;
    background-image: url(../img/Culture2.png);
  }
  .bl-2-img6 {
    width: 492px;
    height: 310px;
    position: absolute;
    background-image: url(../img/CultureCopy.png);
  }
  .bl-2-img7 {
    width: 236px;
    height: 310px;
    position: absolute;
    left: 512px;
    background-image: url(../img/GamesCopy.png);
  }
  .bl-2-p {
    width: 939px;
    height: 310px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    top: 20px;
  }
  .bl-2-p2 {
    width: 939px;
    height: 310px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    top: 40px;
    left: 1px;
  }
  .bl-2-p3 {
    width: 938px;
    height: 310px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    top: 60px;
    left: 1px;
  }
  .search {
    position: absolute;
    width: 482px;
    height: 158px;
    left: 142px;
    top: 3176px;
  }
  .search-big-text {
    position: absolute;
    left: 91.5px;
    top: 0px;
    width: 303px;
    height: 27px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    text-align: center;
    color: #444444;
  }
  .seach-small-text {
    position: absolute;
    width: 415px;
    height: 24px;
    left: 105px;
    top: 70px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 14px;
    /* or 78% */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    text-align: center;
    color: #666666;
  }
  .input {
    position: absolute;
    width: 299px;
    height: 40px;
    left: 0px;
    top: 40px;
  }
  .seach-form {
    position: absolute;
    width: 299px;
    height: 40px;
    left: 0px;
    top: 118px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #999999;
  }
  .submit {
    position: absolute;
    width: 172.12px;
    height: 40px;
    left: 312px;
    top: 118px;
    background: #FF4E50;
    border-radius: 40px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: white;
  }
  .footer {
    position: absolute;
    width: 768px;
    height: 224px;
    top: 3434px;
    border-top: 2px red solid;
  }
  .footer-logo {
    position: absolute;
    width: 119px;
    height: 20px;
    left: 39px;
    top: 38px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #FF4E50;
  }
  .company {
    position: absolute;
    width: 70px;
    height: 17px;
    left: 266px;
    top: 39px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #444444;
  }
  .partners-text {
    position: absolute;
    width: 64px;
    height: 17px;
    left: 436px;
    top: 39px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #444444;
  }
  .design-text {
    position: absolute;
    width: 100px;
    height: 12px;
    left: 648px;
    top: 40px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
    color: #CCCCCC;
  }
  .areto {
    position: absolute;
    width: 110px;
    height: 24px;
    left: 618px;
    top: 57px;
  }
  .links {
    position: absolute;
    width: 114px;
    height: 156px;
    left: 266px;
    top: 67px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  a {
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #999999;
  }
}
/*# sourceMappingURL=main-768.css.map */